body{
   font-family: 'Roboto', sans-serif;
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
}
.container {
    box-sizing: border-box;
    align-content: center;
    display: list-item;
    list-style: none;  
    margin: auto;
    width: 70%;
    margin-top: 200px;
}
header{
    text-align: center;  
}
.card1{
    display: flex;
}
.card{
    width: 1000px;
}
.img1{
    align-self: center;
}
.head{
    font-size: 48px;
}