* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#sect {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(59, 29, 29, 1) 56%, rgba(131, 35, 35, 1) 100%);
}
.container {
    padding: 8%;
    border-radius: 50%;
    backdrop-filter: blur(100px);
    box-shadow: 0 4px 15px rgba(0, 2, 2, 19.5);
    background: rgba(255, 255, 255, 0.15);
}
.result_images {
    display: flex;
    justify-content: space-between;
    column-gap: 7rem;
}
.container.start .user_result {
    transform-origin: left;
    animation: userShake 0.7s ease infinite;
}
@keyframes userShake {
    50% {
        transform: rotate(10deg);
    }
}
.container.start .cpu_result {
    transform-origin: right;
    animation: cpuShake 0.7s ease infinite;
}
@keyframes cpuShake {
    50% {
        transform: rotate(-10deg);
    }
}
.result_images img {
    width: 100px;
}
.user_result img {
    transform: rotate(90deg);
}
.cpu_result img {
    transform: rotate(-90deg) rotateY(180deg);
}
.result {
    text-align: center;
    font-size: 4rem;
    color: #000000;
    margin-top: 1.5rem;
}
.option_image img {
    width: 50px;
}
.option_images {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    justify-content: space-between;
}
.container.start .option_images {
    pointer-events: none;
}
.option_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.option_image:hover {
    opacity: 1;
}
.option_image.active {
    opacity: 1;
}
.option_image img {
    pointer-events: none;
}
.option_image p {
    color: #000000;
    font-size: 2.235rem;
    pointer-events: none;
}
img {
    height: 250px;
    width: 240px !important;
}