* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    width: 49%;
    padding: 1.6%;
}
.outer-div {
    display: flex;
    padding: 2.5%;
    padding-bottom: 9%;
}
.outer-div div {
    width: 13.8%;
    margin-right: 2%;
    height: 75px;
    padding: 10px;
}
button {
    margin: 20px 0 40px;
    padding: 0 10px;
}
p {
    margin-bottom: 50px;
    padding-right: 5vh;
}
hr {
    width: 99%;
}
footer {
    width: 50%;
    padding-top: 5px;
}
.style1>div {
    border: 1px solid blue;
}
.style1 div div {
    background-color: yellow;
    color: black;
    font-size: 1rem;
}
.style1 p {
    color: black;
}
.style1 p span {
    color: red;
}
.style2>div {
    border: 5px solid #ffc5cf;
}
.style2 div div {
    border: 2.5px solid blue;
}
.style2 div div:last-child {
    border: 2.5px dashed blue;
}
.style2 div div:nth-child(1) {
    background-color: red;
    color: green;
    padding: 0;
    padding-left: 10px;
    font-size: 2.2rem;
}
.style2 div div:nth-child(2) {
    background: blue;
    font-style: italic;
}
.style2 div div:nth-child(3) {
    background-color: green;
    text-transform: capitalize;
}
.style2 div div:nth-child(4) {
    background-color: purple;
    font-style: italic;
}
.style2 div div:nth-child(5) {
    background-color: lightblue;
}
.style2 div div:nth-child(6) {
    background-color: orange;
    font-style: italic;
}
.style2 p {
    color: blue;
}
.style2 p span {
    color: green;
}