@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container-fluid {
    height: 100vh;
    background: rgb(240, 145, 247);
    background: radial-gradient(circle, rgba(240, 145, 247, 1) 0%, rgba(243, 116, 176, 1) 100%);
}
.form-select {
    /* --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath   d='m2 5 6 6 6-6'/%3e%3c/svg%3e") */
    --bs-form-select-bg-img: url("../images/caret-down-fill.svg");
}
.row1 {
    width: 45rem;
}
.form-group label {
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 75%;
    transform: translate(0.5rem, 52%);
    background: white;
}
.form-group select {
    width: 100%;
}
input[type="submit"] {
    font-size: 14px;
}
.radio-label {
    font-size: 16px;
    margin-right: 5%;
}
input[type="text"] {
    padding: 2% 3%;
}
.fs-4 {
    font-size: 1.85rem!important;
}