* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 600;
}
.container {
    height: 50%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.356);
    border-radius: 15px;
    box-shadow: 6px 4px 3px 2px rgba(0, 0, 0, 0.507);
}
.container .inputfield {
    display: flex;
    flex-wrap: wrap;
    margin: 8px;
}
.container .inputfield label {
    margin: 5px;
}
.container .inputfield input {
    border-radius: 7px;
    border: 1px solid black;
}
.container .select {
    display: flex;
}
#dropdown {
    margin: auto;
    font-size: 22px;
    border-radius: 5px;
}
.container .container1 .ans {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}